/* Menu bar */

.menu-btn {
  position: absolute;
  top: 1em;
  left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /*border: 3px solid #fff;*/
}

.menu-btn_burger {
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px #FF8C00 */;
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px #FF8C00; */
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
  transform: translateY(-13px);


}

.menu-btn_burger::after {
  transform: translateY(13px);
}

/* menu bar animation */

.menu-btn.open .menu-btn_burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  }

.menu-btn.open .menu-btn_burger::before {
  transform:rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
  transform:rotate(-45deg) translate(35px, 35px);
}