body
{
background-color: #222;
color: white;
}


/* Carousel homepage */

.container-fluid {
  padding: 0;

}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 90vh;
}

/* Cards dos jogos */

.card {
  position: absolute;
  margin: 2em;
}

/* Início do header 2.0 */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: black;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: #262626;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	align-items: center;
}

.content {
  height: 200vh;
  background-image: url("images/backgroundhoops.jpg");
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* navigation styles start here */

header {
  background: var(--background);
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo {
  max-width: 15%;
  height: auto;
  margin: 1em;
  margin-left: 43%;

}

.nav-toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #FF8C00;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;